
hr.intro:after, hr.about:after, hr.portfolio:after, hr.contact:after {
  position: relative;
    top: -0.8em;
    display: inline-block;
    padding: 0 0.25em;
    content: "";
    font-family: FontAwesome;
    font-size: 2em;
    color: #2c3e50;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}

hr.about, hr.intro, hr.portfolio, hr.contact{
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-color: #2c3e50;
}

hr.intro:after{
  content: "";
}

hr.about:after {
  content: "";
  background-color: #fff;
}

hr.portfolio:after {
  content: "";
}

hr.contact:after {
  content: "";
  background-color: #fff;
}
